@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}
.mainPages {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: max-content;
  position: absolute;
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.sidebarChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a2e31;
  background-color: #f1e6df;
  height: max-content;
  padding: 10px;
  width: 45px;
  border-radius: 10px;
}
body {
  overflow: hidden;
}
.icons {
  height: 30px;
  width: 30px;
  transition-duration: 400ms;
}

.icons:hover {
  cursor: pointer;
  filter: brightness(1.5);
  scale: 1.05;
}

.popFromLeft {
  animation: popupColorPicker 700ms forwards ease;
}

@keyframes popupColorPicker {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.defaultButton {
  width: 80px;
  height: 50px;
  color: #f8e8d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #cb4842;
  font-weight: bold;
  font-size: 18px;
}
