@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #8cb9e0;
}

.colorPicker {
  inset: 0;
  max-width: 540px;
  min-width: 300px;
  position: fixed;
  height: fit-content;
  z-index: 5000;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px 2px #5a5a5a;
}
.modeButt:hover {
  cursor: pointer;
}
