@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e7eaea;
  overflow: hidden;
}

.colorPicker {
  inset: 0;
  max-width: 540px;
  min-width: 300px;
  position: fixed;
  height: fit-content;
  z-index: 5000;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px 2px #5a5a5a;
}
.modeButt:hover {
  cursor: pointer;
}

.notification {
  width: 9vw;
  transform: translateX(100vw);
  animation: alert 3000ms forwards ease;
  background-color: #8cb9e0;
  position: absolute;
  top: 0;
}

@keyframes alert {
  25% {
    transform: translateX(90vw);
  }
  50% {
    transform: translateX(90vw);
  }
  75% {
    transform: translateX(90vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
